:root{
  --red: #f54e4e;
  --green: #4aec8c;
  --primary-clr: #b38add;
}

body{
  background-color: #30384b;
  color: #eee;
}

main{
  position: fixed;
  padding-top: 50px;
  max-width: 240px;
  margin: 0 auto;
  text-align: center;
  right: 200px;
  top: 10px;
}

button{
  background-color: transparent;
  color: rgba(255,255,255,0.8);
  border: 0;
  display: inline-block;
  width: 50px;
  cursor: pointer;
}

button.with-text{
  width: auto;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
}

button.with-text svg{
  width: 36px;
  float:left;
  margin-right: 5px;
}

label{
  display:block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}
/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

calender {
  position: absolute;
  min-height: 50vh;
  display: flex;
  align-items: left;
  justify-content:left;
  padding-bottom: 200px;
  background-color: #e43f4a;
  left: 0;
  top: 0;
  width: 700px;
  padding-top: 100px;
}

calendar .container {
  position: relative;
  width: 700px;
  min-height: 500px;
  margin: 0 auto;
  padding: 5px;
  color: #fff;
  display: flex;
  border-radius: 10px;
  background-color: #7c90c1;
}
/* size of white box */
/*calendar .left {
  width: 60%;
  padding: 20px;
}

/*text inside white box*/
/*calendar .calendarTag {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #878895;
  border-radius: 5px;
  background-color: #fff;
}

calendar .calendarTag::before,
calendar .calendarTag::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 32px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: #59678b;
  transform: translateY(-50%);
}

calendar .calendarTag::before {
  height: 94%;
  left: calc(100% + 22px);
  background-color: #45506b;
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
 }
 
 calender {
  position: fixed;
  min-height: 50vh;
  display: flex;
  align-items: left;
  justify-content:left;
  padding-bottom: 200px;
  background-color: #e43f4a;
  left: 10px;
  top: 10px;
  width: 700px;
  padding-top: 100px;
  z-index: 9999;
 }
 
 /* entire calander*/
 calendar .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1100px;
  min-height: 800px;
  margin: 0 auto;
  padding: 5px;
  color: #fff;
  display: flex;
  border-radius: 10px;
  background-color: #7c90c1;
 }
 
 /* size of white box */
 calendar .left {
  width: 60%;
  padding: 20px;
 }
 
 /*text inside white box*/
 calendar .calendarTag {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #878895;
  border-radius: 10px;
  background-color: #fff;
 }
 
 calendar .calendarTag::before,
 calendar .calendarTag::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 32px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: #59678b;
  transform: translateY(-50%);
 }
 
 calendar .calendarTag::before {
  height: 94%;
  left: calc(100% + 22px);
  background-color: #45506b;
 }

 .calendarTag .month {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.calendarTag .month .prev,
.calendarTag .month .next {
  cursor: pointer;
}
.calendarTag .month .prev:hover,
.calendarTag .month .next:hover {
  color: var(--primary-clr);
}

.calendarTag .weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.calendarTag .weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendarTag .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.calendarTag .days .day {
  width: 14.28%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 1px solid #f5f5f5;
}


